div{
	align:center;
}
#s1{
	width:50%;
	height:50%;
	margin:0px;
}
#s2{
	width:50%;
	height:50%;
	margin:0px;
}
#s3{
	width:50%;
	height:50%;
	margin:0px;
}
#s4{
	width:50%;
	height:50%;
	margin:0px;
}
#s5{
	width:50%;
	height:50%;
	margin:0px;
}